<html>
<head>
  <title>Todo App</title>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

  <<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="javascripts/angularApp.js"></script>
  <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>
<body ng-app="todoApp">

    <ui-view></ui-view>

    <script type="text/ng-template" id="/home.html">
      <div class="container">
        <h1>Hello there</h1>
        <p>Won't you please <a href="/#!/login">sign in</a> or <a href="/#!/register">register</a>?</p>
      </div>
    </script>

    <script type="text/ng-template" id="/login.html">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="form-signin-heading">Sign in</h1>
            <p class="lead">Not a member? Please <a href="/#!/register">register</a> instead.</p>

            <div ng-show="error" class="alert alert-danger row">
              <span>{{ error.message }}</span>
            </div>

            <form ng-submit="logIn()"
                  style="margin-top:30px;">
              <h3>Log In</h3>

              <div class="form-group">
                <input type="text"
                       class="form-control"
                       placeholder="Username"
                       ng-model="user.username"/>
              </div>
              <div class="form-group">
                <input type="password"
                       class="form-control"
                       placeholder="Password"
                       ng-model="user.password"/>
              </div>
              <button type="submit" class="btn btn-primary">Log In</button>
            </form>
          </div>
        </div>
        </div>
    </script>
    <script type="text/ng-template" id="/register.html">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1>Register</h1>
            <p class="lead">Already a member? Please <a href="/#!/login">log in</a> instead.</p>

            <form ng-submit="register()"
                  style="margin-top:30px;">
              <h3>Register</h3>

              <div class="form-group">
                <input type="text"
                       class="form-control"
                       placeholder="Username"
                       ng-model="user.username"/>
              </div>
              <div class="form-group">
                <input type="password"
                       class="form-control"
                       placeholder="Password"
                       ng-model="user.password"/>
              </div>
              <button type="submit" class="btn btn-primary">Register</button>
            </form>

            <!--<form>-->
              <!--<div class="form-group">-->
                <!--<label for="username">username</label>-->
                <!--<input type="text" class="form-control" id="username" placeholder="Enter username">-->
              <!--</div>-->
              <!--<div class="form-group">-->
                <!--<label for="password">Password</label>-->
                <!--<input type="password" class="form-control" id="password" placeholder="Password">-->
              <!--</div>-->
              <!--<button type="submit" class="btn btn-default">Register!</button>-->
            <!--</form>-->
          </div>
        </div>

      </div>
    </script>
    <script type="text/ng-template" id="/profile.html">
      <div>
        Profile
        <div ng-repeat="todo in todos">
          {{todo.text}}
        </div>
      </div>
    </script>




</body>
</html>